.end--color-white{
    color: var(--color-white);
}
.end--color-yaloow{
    color: var(--color-yallow);
}
.main-header__end{
    margin-right: 30px;
}
.main-header__end__p{
    margin-right: 20px;
}

.red{
    background-color: red;
}
