:root {
  --body-color: #04091f;
  --color-black: #000000;
  --color-darck-gray: #333321;
  --color-red: #cc0035;
  --color-darck-red: #950200;
  --color-blue: #333367;
  --color-syan: #0099ff;
  --color-green: #339931;
  --color-purple: #9e009d;
  --color-gray: #d8d8d8;
  --color-darck-gray: #797575;
  --color-syan2: #60bfee;
  --color-yallow: #ffff00;
  --color-orange: #e07509;
  --color-lightgray: #e6e6e6;
  --color-white: #fff;
  --font: sans-serif;
}
