.title {
  color: white;
  margin-bottom: 90px;
}
.conta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bot {
  height: 50px;
  background-color: #1d1d1d;
  color: white;
}
.bot:hover {
  border-radius: 5px;
  color: #66ffff;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  transition: 0.8s;
}
.res {
  text-decoration: none;
  color: white;
}
